html {
    height: 100%;
        width: 100%;
    font-size: 100%;
    font-family: helvetica;
    font-weight: 200;
}

body {
    height: 100%;
    width: 100%;
    font-size: 100%;
}

.taskBoxContainer {
    background-color: aqua;
    width: 90%;
    height:90%;
    margin: auto;
        margin-top: 3%;
}

.taskHeader {
    height:10%;
    width: 100%;
    background-color:lightgrey;
        min-height: 30px;
}

.taskHeaderText{
    font-size: 120%;
    width:40%;
    height: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-align: center;
}

.taskFilters {
    width: 100%;
    height: 50px;
    background-color:darkcyan;
}

.taskFilter{
    display: inline-block;
    color: lightgrey;
    margin-right: 10px;
}

.taskContainer{
    height: 10%;
    width: 100%;
    min-height: 30px;
    background-color: azure;
    border-bottom: thin solid lightgrey;
}

.taskText{
    height: 50%;
    background-color: inherit;
    margin-left: 30px;
    margin-right: 10px;
margin-bottom: auto;
 margin-top: auto;
position: relative;
top: 20%;
}

.taskCheckbox {
    display: inline;
    height: 20px;
    background-color: aqua;
float: left;
margin: auto;
    border-radius: 0;
}
