<div>
        <form>
            <input ng-model="newText"  type="text"/>
            <button ng-click="addTask(newText)">Save</button>
        </form>
    </div>

<!--        {{taskBox.data}}-->
<!--        {{data.tasks}}-->
<!--        {{data.test2}}-->
<!--        Space: {{taskbox.data.test}}-->


<div class="taskBoxContainer">
    <div class="taskHeader">
        <div class="taskHeaderText">
            Current tasks
        </div>
    </div>
            <div class="taskFilters">
        <div class="taskFilter"><input type="checkbox" ng-model="query.notCompleted"  class="filterCheckbox">Not Completed</div>
        <div class="taskFilter"><input type="checkbox"  ng-model="query.completed" class="filterCheckbox">Completed</div>
        <div class="taskFilter"><input type="checkbox" ng-model="query.active"  class="filterCheckbox">Active</div>
         <div class="taskFilter"><input type="checkbox"  ng-model="query.expired"  class="filterCheckbox">Expired</div>
        </div>
    <div class="taskContainer" ng-repeat="tdata in data.tasks | filter:tasksFilter">
        <input type="checkbox" class="taskCheckbox">
        <div class="taskText">{{tdata.text}}</div>
    </div>
    <div class="taskContainer">
                <div class="taskText">task text2</div>
    </div>
        <div class="taskContainer">
                <div class="taskText">task text3</div>
    </div>
</div>

<!--
Options:
Apply a filter for ng-hide, ng-show
Add another page for expired tasks
-See if there is metadata (time created)
-Save date created as data
-Add data to say active/hidden
-Put on other Firebase list

-->
